<div class="row justify-content-center">
  <div class="card text-center" style="width: 20rem;">
    <img class="card-img-top" src="assets/img/candidate/candidate_1.jfif" alt="Card image cap" />
    <div class="card-body">
      <h4 class="card-title">Candiate1</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary" (click)="onVote(1)">Vote</button>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card text-center" style="width: 20rem;">
    <img class="card-img-top" src="assets/img/candidate/candidate_2.jpg" alt="Card image cap" />
    <div class="card-body">
      <h4 class="card-title">Candidate2</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary" (click)="onVote(1)">Vote</button>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card text-center" style="width: 20rem;">
    <img class="card-img-top" src="assets/img/candidate/candidate_3.jpg" alt="Card image cap" />
    <div class="card-body">
      <h4 class="card-title">Candidate3</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary" (click)="onVote(1)">Vote</button>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card text-center" style="width: 20rem;">
    <img class="card-img-top" src="assets/img/candidate/candidate_4.jpg" alt="Card image cap" />
    <div class="card-body">
      <h4 class="card-title">Candidate4</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary" (click)="onVote(1)">Vote</button>
    </div>
  </div>

</div>
