<div class="row justify-content-center">
  <div class="col-md-6">
      <div class="card card-nav-tabs">
      <h4 class="card-header card-header-info">Welcome to electronic voting system!</h4>
      <div class="card-body">

        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Resident ID</label>
                <input type="text" class="form-control" placeholder="Resident ID">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button class="btn btn-primary btn-round" (click)="onLoginSubmit()">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
